import("lattice")
import("stats")
import("graphics")
import("grDevices")
import("utils")
export(visreg, visreg2d, visregList)
S3method(plot, visreg)
S3method(plot, visregList)
S3method(plot, visreg2d)
S3method(subset, visreg)
