img {
  margin: auto;
  display: block;
}
li>a>img {
  display: inline-block;
}
img.orcid {
  display: inline-block;
}
.navbar-nav>.nav-item>.nav-link {
  background: transparent;
}
.navbar-nav>.active.nav-item>.nav-link {
  background: transparent;
}
.nav-text.text-muted {
  color: #fff !important;
}
.navbar-dark input[type="search"] {
  background: #555;
}
