on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: test-coverage

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v1
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v1
        with:
          extra-packages:
            - covr
            - betareg
            - e1071
            - gamlss
            - gamm4
            - gbm
            - gridExtra
            - lme4
            - locfit
            - mgcv
            - nnet
            - quantreg
            - randomForest
            - rgl

      - name: Test coverage
        run: covr::codecov()
        shell: Rscript {0}
